@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Kanit', sans-serif;
  background: #0C0C0C;
  color: #D7E2EA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background: #0C0C0C;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

#root {
  width: 100%;
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
